<!--
<div class="alinearProductos" id="products"></div>-->



<div class="alinearProductos">
  {{#each products.docs}}
  <div class="card" style="width: 18rem;">
    <img src="/img/image.jpg" class="card-img-top" alt="img">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <a href='/api/products/{{_id}}' class="btn btn-primary submit">Detalle del producto</a>
    </div>
  </div>
  {{/each}}
</div>
<a href={{products.prevLink}}>BACK</a>
<a href={{products.nextLink}}>NEXT</a>