  <div class="alinearProductos">
    {{#each products.docs}}
      <div class="col-sm">
        <div class="card">
          <img src={{this.thumbnail}} class="img-thumbnail" alt="img">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <span>Stock disponible: {{this.stock}}</span>
            <a href='/api/products/{{_id}}' class="btn btn-primary mt-2 submit">Detalle del producto</a>
          </div>
        </div>        
      </div>
    {{/each}}
</div>
 




<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href={{products.prevLink}} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item"><a class="page-link" href="https://matesuli-back.onrender.com/api/products?page=1">1</a></li> 
    <li class="page-item"><a class="page-link" href="https://matesuli-back.onrender.com/api/products?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="https://matesuli-back.onrender.com/api/products?page=3">3</a></li>
    <li class="page-item">
      <a class="page-link"href={{products.nextLink}} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


<!-- 
<div class="container">
  <div class="row row-cols-3">
    {{#each products.docs}}
      <div class="col-sm">
        <div class="card">
          <img src={{this.thumbnail}} alt="img">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <span>Stock disponible: {{this.stock}}</span>
            <a href='/api/products/{{_id}}' class="btn btn-primary submit">Detalle del producto</a>
          </div>
        </div>        
      </div>
    {{/each}}
  </div>
</div>

-->