
<!--
<main class="centerProfile">
    <h1>Mi perfil</h1>
    <p>Nombre: {{payload.full_name}}</p>
    <p>Email: {{payload.email}}</p>
    <p>Rol: {{payload.role}}</p>
</main>-->


<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                    {{#if payload.imageProfile}}
                    <img  src={{payload.imageProfile}} alt="img" class="circle">
                    {{else}}
                    <img id="preview-image" src="/img/profile-default.jpg" alt="Vista previa de la imagen" class="circle">
                    {{/if}}
                    <form action="/api/users/{{user._id}}/current" method="post" enctype="multipart/form-data">
                    <input type="file" id="file" name="profile">
                    <div class="d-flex justify-content-center">
                        <label for="file" class="btn btn-outline-secondary mt-3">Cambiar foto</label>
                    </div>
                    <h5 class="card-title">Mi perfil</h5>
                    <p class="card-text">Nombre: {{payload.full_name}}<p>
                    <p class="card-text">Email: {{payload.email}}</p>
                    <p class="card-text">Rol: {{payload.role}}</p>
                    <button type="submit" class="btn btn-outline-secondary mt-3">Subir imagen</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8 mt-5">
            <div class="card w-100 d-flex">
                <div class="card-body">
                    <form action='/api/users/{{user._id}}/documents' method="post" enctype="multipart/form-data">
       			        <label for="formFileSm" class="form-label">Documento de indentificación:</label>
                        <div class="d-flex mb-2 gap-3">
                        <input class="form-control form-control-sm"  type="file" name="document">
                        </div>

                        <label for="formFileSm" class="form-label">Comprobante de domicilio:</label>
                        <div class="d-flex mb-2 gap-3">
                        <input class="form-control form-control-sm" type="file" name="document">
                        </div>      

                        <label for="formFileSm" class="form-label">Comprobante de estado de cuenta:</label>
                        <div class="d-flex gap-3">
                        <input class="form-control form-control-sm" type="file" name="document">
                        </div>    
                        
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-secondary mt-3">Cargar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                {{#if payload.documents}}
                    <h5>Documentos Subidos:</h5>

                    <ul>
                        <div class="d-flex justify-content-between p-3 bg-light">
                        {{#each payload.documents}}
                            <i class="fa-solid fa-file-lines" style="color: #56ab91;"></i>
                            <span>{{this.name}} • uploaded</span>
                            <i class="fa-solid fa-check" style="color: #56ab91;"></i>
                        {{/each}}
                        </div>
                    </ul>                        
                
                {{else}}
                    <p>Los archivos se verán aqui</p>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>


<!--
    CHECKEAR ESTO
    <div class="input-group">
  <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
</div>
 -->